In [1]:
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
import pickle

In [4]:
df=pd.read_csv("FuelConsumption.csv")

In [5]:
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [6]:
cdf=df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB','CO2EMISSIONS']]

In [8]:
cdf.head()

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
0         2.0          4                   8.5           196
1         2.4          4                   9.6           221
2         1.5          4                   5.9           136
3         3.5          6                  11.1           255
4         3.5          6                  10.6           244

In [9]:
x=cdf.iloc[:,:3]

In [10]:
x

      ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB
0            2.0          4                   8.5
1            2.4          4                   9.6
2            1.5          4                   5.9
3            3.5          6                  11.1
4            3.5          6                  10.6
...          ...        ...                   ...
1062         3.0          6                  11.8
1063         3.2          6                  11.5
1064         3.0          6                  11.8
1065         3.2          6                  11.3
1066         3.2          6                  12.8

[1067 rows x 3 columns]

In [11]:
y=cdf.iloc[:,3]

In [12]:
y

0       196
1       221
2       136
3       255
4       244
       ...
1062    271
1063    264
1064    271
1065    260
1066    294
Name: CO2EMISSIONS, Length: 1067, dtype: int64

In [13]:
regressor= LinearRegression()

In [14]:
regressor.fit(x,y)

LinearRegression()

In [15]:
pickle.dump(regressor,open('model.pkl','wb'))

In [16]:
model=pickle.load(open('model.pkl','rb'))

In [17]:
model.predict([[2.6,8,10.1]])

array([250.49258856])

In [18]:
[1,2,3]

[1, 2, 3]

In [19]:
[[1,2,3]]

[[1, 2, 3]]